body {
  background-color: rgb(215, 244, 248);
}

.container {
  border: 1px solid gray;
  padding: 20px;
  margin: 10px;
}

li>div {
  display: flex;
  align-items: center;
}

button {
  margin-left: 10px;
}